<table>
	<thead>
		<tr>
			<th align=left>Component</th>
			<th align=left>Version</th>
		</tr>
	</thead>
	<tbody>
	{% for component in page.components %}
		<tr>
			<td align=left>{{component.name}}</td>
			<td align=left>
				<a href="{{site.baseurl}}{{site.releasenotes_path}}/{{component.package}}/{{component.version}}/">{{component.version}}</a>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
